<div id="pagination">
	<div id="pagination-content">
		{{#if prev}}
		<a href="{{pageUrl prev}}"><button class="pagination-button" id="pagination-prev">Previous</button></a>
		{{/if}}
		<span id="pagination-text">Page {{page}} of {{pages}}</span>
		{{#if next}}
		<a href="{{pageUrl next}}"><button class="pagination-button" id="pagination-next">Next</button></a>
		{{/if}}
	</div>
</div>
